h1 {
  border: 10px dashed blue;
  padding: 5px;
  width: 500px;
}
#logo {
  float: left;
}
#horizontal {
  padding-left: 100px;
  display: block;
}
#vertical {
  float: left;
  padding: 0px 30px 30px 30px;
}
article.sidebar > p,
aside {
  display: table-cell;
  padding-right: 20px;
}
p,
blockquote {
  border: 2px solid green;
}
q {
  background: lawngreen;
}
strong,
em {
  background: lawngreen;
}
a:hover {
  background: yellow;
}
a:active {
  background: rebeccapurple;
  color: white;
}
a:visited {
  background: aqua;
}
a {
  text-decoration: none;
  color: black;
}
a:focus {
  background: red;
  color: white;
}
#chart {
  visibility: hidden;
  height: 0px;
}
#links {
  padding: 5px;
  border: 1px solid;
  float: left;
  width: 200px;
}
