h1 {
  border: 10px dashed blue;
  padding: 5px;
  width: 500px;
}
#logo {
  float: left;
}
#horizontal {
  padding-left: 100px;
  display: block;
}
#vertical {
  float: left;
  padding: 0px 30px 30px 30px;
}
article.sidebar > p,
aside {
  display: table-cell;
  padding-right: 20px;
}
p,
blockquote {
  border: 2px solid green;
}
q {
  background: lawngreen;
}
strong,
em {
  background: lawngreen;
}
a:hover {
  background: yellow;
}
a:active {
  background: rebeccapurple;
  color: white;
}
a:visited {
  background: aqua;
}
a {
  text-decoration: none;
  color: black;
}
a:focus {
  background: red;
  color: white;
}
#chart {
  visibility: hidden;
  height: 0px;
}
#links {
  padding: 5px;
  border: 1px solid;
  float: left;
  width: 200px;
}
dt {
  color: Blue;
}
dfn {
  color: red;
  font-size: 20pt;
}
.grammar {
  color: green;
}
.spoken {
  color: purple;
}
table {
  width: 500px;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
}
td[rowspan="2"] {
  background: pink;
}
td[rowspan="3"] {
  background: hotpink;
}
thead {
  background: pink;
}
th.next {
  background: deeppink;
  color: white;
}
tfoot {
  background: hotpink;
  font-size: small;
}
tbody th {
  background: deeppink;
  color: white;
}
tbody td {
  padding: 3px;
  text-align: center;
}
colgroup.sidebar col {
  width: 70px;
}
colgroup.info col {
  width: 80px;
}
colgroup.info {
  border-left: 2px solid white;
}
colgroup col.stripe {
  background-color: pink;
}
